<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Aritmética</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white min-h-screen flex items-center justify-center">
    <div class="container mx-auto p-8">
        <div class="max-w-4xl mx-auto bg-gray-800 shadow-xl rounded-lg p-6 ring-4 ring-green-500">
            <h1 class="text-3xl font-bold text-center text-green-300 mb-8">
                Calculadora Aritmética
            </h1>

            <div class="flex space-x-8">
                <!-- Formulario -->
                <div class="flex-1">
                    <form method="POST" action="/" class="flex flex-col space-y-4">
                        <!-- Campo de entrada con "MC" para memoria -->
                        
                            <input
                                type="text"
                                name="expresion"
                                id="expresion"
                                placeholder="Ejemplo: (3 + 4) * 5"
                                value="{{ expresion }}"
                                required
                                class="p-3 border border-gray-700 bg-gray-900 rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-green-300 placeholder-gray-500 text-white w-full"
                            >
                            
                            
                        <div class="flex space-x-4">
                            <!-- Botón de memoria MC -->
                            <button
                                type="button"
                                id="btnMC"
                                onclick="recuperarMemoria()"
                                class="bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 shadow-lg transition duration-300 ease-in-out transform hover:scale-105"
                                {% if memoria is none %} disabled {% endif %}
                            >
                                MC
                            </button>
                            <!-- Botón de borrado por caracter -->
                            <button
                                type="button"
                                onclick="borrarNumero()"
                                class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 shadow-lg transition duration-300 ease-in-out transform hover:scale-105"
                            >
                                Borrar Número
                            </button>
                            <!-- Botón de calcular -->
                            <button
                                type="submit"
                                class="bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 shadow-lg transition duration-300 ease-in-out transform hover:scale-105 w-full"
                            >
                                Calcular
                            </button>
                            
                        </div>
                        
                       
                    </form>

                    <!-- Resultado de la expresión -->
                    {% if resultado %}
                    <div class="mt-8 p-4 bg-green-900 border border-green-700 text-green-300 rounded-lg shadow-inner">
                        <strong>Resultado:</strong> {{ resultado }}
                    </div>
                    {% endif %}

                    
                    <!-- Conteo de tokens -->
                    {% if total_numeros is not none and total_operadores is not none %}
                    <div class="mt-4 p-4 bg-gray-800 border border-gray-700 rounded-lg shadow-inner">
                        <p>Total de números: {{ total_numeros }}</p>
                        <p>Total de operadores: {{ total_operadores }}</p>
                    </div>
                    {% endif %}

                    <!-- Listado de tokens -->
                    <div class="mt-4 p-4 bg-gray-800 border border-gray-700 rounded-lg shadow-inner">
                        <h3 class="text-lg font-semibold text-gray-300">Listado de Tokens:</h3>
                        <ul class="list-disc pl-5 text-gray-300">
                            {% for token in tokens %}
                                <li>{{ token }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Árbol -->
                <div class="flex-1">
                    {% if imagen %}
                    <h2 class="text-xl font-semibold text-gray-300 mb-2">Árbol Generado:</h2>
                    <div class="bg-gray-700 border border-gray-600 rounded-lg p-3 shadow-md overflow-hidden">
                        <img src="{{ url_for('static', filename=imagen) }}"
                             alt="Árbol de Análisis Sintáctico"
                             class="w-full h-auto rounded-lg transform transition duration-500 hover:scale-105 hover:shadow-xl"
                        >
                    </div>
                    {% else %}
                    <div class="bg-gray-700 p-4 text-gray-500 rounded-lg shadow-inner">
                        <strong>Aún no hay árbol</strong>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <script>
        
        function borrarNumero() {
            const input = document.querySelector('input[name="expresion"]');
            input.value = input.value.slice(0, -1);  
        }

        
        function recuperarMemoria() {
            const input = document.querySelector('#expresion');
            const memoria = "{{ memoria }}";
            input.value = memoria; 
        }
    </script>
</body>
</html>
